<div class="nested-fields">
  <%= f.select :course,
              Item.courses.map { |key, value| [key.humanize, key] },
              input_html: { autocomplete: "course" } %>
  <%= f.input :name %>
  <%= f.input :photo %>
  <%= f.input :price %>
  <div class="back-btn">
    <%= link_to_remove_association "remove task", f %>
  </div>
</div>
