<table class='table'>
  <thead>
  <tr>
    <th scope="col">Course</th>
    <th scope="col">Name</th>
    <th scope="col">Photo</th>
    <th scope="col">Price</th>
  </tr>
  </thead>
  <tbody>
    <% @menu.items.each do |i|%>
      <tr>
        <td><%= i.course %></td>
        <td><%= i.name %></td>
        <td><%= i.photo %></td>
        <td><%= i.price %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div>
  <%= link_to 'Edit', edit_menu_path(@menu), class: 'btn btn-success' %>
</div>
<div>
  <%= link_to 'Back', menus_path, class: "btn btn-outline-dark back-btn" %>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <% if @order %>
        <%= simple_form_for(@order) do |f| %>
          <%= f.hidden_field :menu_id, value: @menu.id %>

          <%= f.association :first_course, collection: @menu.first_courses, include_blank: 'None' %>
          <%= f.association :main_course, collection: @menu.main_courses, include_blank: 'None' %>
          <%= f.association :drink, collection: @menu.drinks, include_blank: 'None' %>

          <div class="form-actions">
            <%= f.button :submit, class: 'btn btn-primary' %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
