<h3><%= @menu.weekday %></h3>

<% if @menu.first_courses.exists? %>
  <table class='table table-bordered'>
    <thead class="thead-dark">
    <tr>
      <th scope="col">First Courses</th>
      <th scope="col">Name</th>
      <th scope="col">Photo</th>
      <th scope="col">Price</th>
      <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
      <% @menu.first_courses.each do |i|%>
        <tr>
          <td class='col-2'><b><%= i.course %></b></td>
          <td class='col-2'><%= i.name %></td>
          <td class='col-4'><%= i.photo %></td>
          <td class='col-2'><%= i.price %> $</td>
          <td class='col-2'><%= link_to 'Delete', menu_item_path(@menu, i),
            method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<% if @menu.main_courses.exists? %>
  <table class='table table-bordered'>
    <thead class="thead-dark">
    <tr>
      <th scope="col">Main Courses</th>
      <th scope="col">Name</th>
      <th scope="col">Photo</th>
      <th scope="col">Price</th>
      <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
      <% @menu.main_courses.each do |i|%>
        <tr>
          <td class='col-2'><b><%= i.course %></b></td>
          <td class='col-2'><%= i.name %></td>
          <td class='col-4'><%= i.photo %></td>
          <td class='col-2'><%= i.price %> $</td>
          <td class='col-2'><%= link_to 'Delete', menu_item_path(@menu, i),
            method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<% if @menu.drinks.exists? %>
  <table class='table table-bordered'>
    <thead class="thead-dark">
    <tr>
      <th scope="col">Drinks</th>
      <th scope="col">Name</th>
      <th scope="col">Photo</th>
      <th scope="col">Price</th>
      <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
      <% @menu.drinks.each do |i|%>
        <tr>
          <td class='col-2'><b><%= i.course %></b></td>
          <td class='col-2'><%= i.name %></td>
          <td class='col-4'><%= i.photo %></td>
          <td class='col-2'><%= i.price %> $</td>
          <td class='col-2'><%= link_to 'Delete', menu_item_path(@menu, i),
            method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<div>
  <%= link_to 'Edit', edit_menu_path(@menu), class: 'btn btn-success back-btn' if @menu.current? %>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <% if @order %>
        <%= simple_form_for(@order) do |f| %>
          <%= f.hidden_field :menu_id, value: @menu.id %>

          <%= f.association :first_course, collection: @menu.first_courses, include_blank: 'None' %>
          <%= f.association :main_course, collection: @menu.main_courses, include_blank: 'None' %>
          <%= f.association :drink, collection: @menu.drinks, include_blank: 'None' %>

          <div class="form-actions">
            <%= f.button :submit, class: 'btn btn-primary' %>
          </div>
        <% end %>
      <% end %>
    </div>

    <div class='col-md-4 offset-md-3'>
      <h3>My Order</h3>
      <% @user_order.each do |order| %>
        Order # <%= order.id %>
        <table class='table table-bordered margin'>
          <thead class="thead-dark">
            <tr>
              <th scope="col">Course</th>
              <th scope="col">Price</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= order.first_course.name if order.first_course.present? %></td>
              <td><%= order.first_course.price if order.first_course.present? %></td>
            </tr>
            <tr>
              <td><%= order.main_course.name if order.main_course.present? %></td>
              <td><%= order.main_course.price if order.main_course.present? %></td>
            </tr>
            <tr>
              <td><%= order.drink.name if order.drink.present? %></td>
              <td><%= order.drink.price if order.drink.present? %></td>
            </tr>
          </tbody>
        </table>
        <div>
          @<b><%= order.user.username if order.user.present? %></b>
          total: <%= total_price_for_order(order) %> $
        </div>
        <hr>
      <% end %>
    </div>

    <div class='col-md-4 offset-md-3'>
      <h3>Orders for Day</h3>
      <% @menu.orders.each do |order| %>
        Order # <%= order.id %>
        <table class='table table-bordered margin'>
          <thead class="thead-dark">
            <tr>
              <th scope="col">Course</th>
              <th scope="col">Price</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= order.first_course.name if order.first_course.present? %></td>
              <td><%= order.first_course.price if order.first_course.present? %></td>
            </tr>
            <tr>
              <td><%= order.main_course.name if order.main_course.present? %></td>
              <td><%= order.main_course.price if order.main_course.present? %></td>
            </tr>
            <tr>
              <td><%= order.drink.name if order.drink.present? %></td>
              <td><%= order.drink.price if order.drink.present? %></td>
            </tr>
          </tbody>
        </table>
        <div>
          @<b><%= order.user.username if order.user.present? %></b>
          total: <%= total_price_for_order(order) %> $
        </div>
        <hr>
      <% end %>
    </div>
  </div>
</div>

<%= link_to 'Back', menus_path, class: "btn btn-outline-dark back-btn" %>
