
<%= simple_form_for(@user) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <%= render partial: 'partials/form_errors', locals: {model: @user} %>

  <div class="form-inputs">
    <i class="fa fa-user"></i>
    <%= f.input :username,
                autofocus: true,
                input_html: { autocomplete: "name" }%>
    <i class="fa fa-at"></i>
    <%= f.input :email,
                input_html: { autocomplete: "email" }%>
    <i class="fa fa-phone"></i>        
    <%= f.input :phone,
                input_html: { autocomplete: "email" }%>
    <%= f.input :avatar %>
    <p><%= image_tag(@user.avatar.thumb.url) if @user.avatar? %></p>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
