<div class="text-center">
  <h2><%= @user.username %></h2>

  <%= image_tag user_avatar(@user), class: 'user-avatar' %>

    <p class="form-button">
      <%= link_to "Edit profile", edit_user_path(@user), class: 'btn btn-default back-btn' if current_user %>
    </p>
</div>

<% if policy(User).index? %>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <% @user.orders.each do |order| %>
        Order # <%= order.id %>
        <%= order.created_at.strftime('%A %Y-%m-%d') %>
        <table class='table table-bordered margin'>
          <thead class="thead-dark">
            <tr>
              <th scope="col">Course</th>
              <th scope="col">Price</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= order.first_course.name if order.first_course.present? %></td>
              <td><%= order.first_course.price if order.first_course.present? %></td>
            </tr>
            <tr>
              <td><%= order.main_course.name if order.main_course.present? %></td>
              <td><%= order.main_course.price if order.main_course.present? %></td>
            </tr>
            <tr>
              <td><%= order.drink.name if order.drink.present? %></td>
              <td><%= order.drink.price if order.drink.present? %></td>
            </tr>
          </tbody>
        </table>
        <div>
          total: <%= order.price if order.price.present? %> $
        </div>
        <hr>
      <% end %>
    </div>
  </div>
</div>
<% end %>

<%= link_to 'Back', users_path, class: "btn btn-outline-dark back-btn" %>
