<div class="container">
  <div class="row">
    <div class="col-md-4">
      <% @orders.each do |order| %>
        <div>
          <b>Day: </b><%= order.created_at.strftime('%A %Y-%m-%d') %>
        </div>
        <div>
          <b>Client: </b><%= order.user.username %>
        </div>
        <table class='table table-bordered margin'>
          <thead class="thead-dark">
            <tr>
              <th scope="col">Course</th>
              <th scope="col">Price</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= order.first_course.name if order.first_course.present? %></td>
              <td><%= order.first_course.price if order.first_course.present? %></td>
            </tr>
            <tr>
              <td><%= order.main_course.name if order.main_course.present? %></td>
              <td><%= order.main_course.price if order.main_course.present? %></td>
            </tr>
            <tr>
              <td><%= order.drink.name if order.drink.present? %></td>
              <td><%= order.drink.price if order.drink.present? %></td>
            </tr>
          </tbody>
        </table>
        <hr>
      <% end %>
    </div>
  </div>
</div>
